header{
    background: #BBBBBB;
    padding: 20px 0;
}

.headbox{
    position: relative;
    width:1024px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
}

nav a{
    text-transform: uppercase;
    color:#000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
} 