.banner{
    width: 100%
}

.intro{
    background-color: #CCCCCC
    padding: 30px;
    margin: 50px 100px;
}

.intro p{
    margin: 0 0 1em;
}

.intro strong{
    font-weight: bold;
}

#mission-content em{
    font-style: italic;
}

.primary-title{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

#mission-content{
    font-size: 20px;
}

.items{
    font-style: italic;
}

.benefits-list{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.benefits{
    margin: 50px 100px;
    background-color: #FFFFFF;
    padding: 20px;
}

