body{
    background-color: #CCCCCC
}

h2{
    text-align: center;
}

p{
    text-align:center;
}

.second-paragraph{
    font-size: 20px;
    text-align:center;
}

em strong{
    color:rgb(255,0,0);
}